* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #cabba7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
}

.app {
  height: 100vh;
  background-color: #1f2222;
}

.startPage {
  padding: 2vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.gamePage {
  padding: 2vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vh;
}

button {
  background-color: #2f5732;
  padding: .75vh 1.5vh;
  outline: none;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}

button:focus {
  outline: auto;
}

button:hover {
  background-color: #0f3712;
  cursor: pointer;
}

button:disabled {
  background-color: #4f5252;
  cursor: auto;
}

.title {
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

label {
  font-weight: bold;
}

select {
  background-color: #1f2222;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.gameBoard {
  height: 100%;
  margin: 0 auto;
  display: grid;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: bold;
}

.edge:hover {
  background-color: #4f5252;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.corner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative;
  background-color: #cabba7;
  white-space: nowrap;
}

.dialogBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.dialog {
  padding: 5vh;
  background-color: #1f2222;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 30%;
  max-width: 80%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  font-weight: bold;
  border: 1vh solid #0f3712;
}

.dialogImage {
  display: flex;
  width: 10vh;
  height: 10vh;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  gap: 5vh;
}

pre {
  white-space: pre-wrap;
}

.quoteBlock {
  background-color: #4f5252;
  padding: 2.5vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  font-weight: normal;
  font-style: italic;
  border: 0.25vh solid black;
}

.quote {
  text-align: left;
}

.quoteAuthor {
  text-align: right;
}