* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  height: 100vh;
  background-color: #1f2222;
}

.startPage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gamePage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gameBoard {
  height: 80%;
  margin: 1vh auto;
  display: grid;
  aspect-ratio: 1 / 1;
}

.corner {
  background-color: #cabba7;
  color: #1f2222;
  display: flex;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.edge {
  font-weight: bold;
  color: red;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.edge[data-state="line"] {
  background-color: #cabba7;
}

.edge:hover {
  cursor: pointer;
  background: #4f5252;
  transition: all 0.1s ease-in-out;
}

.cell {
  font-weight: bold;
  color: #cabba7;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.buttonRow {
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vh;
}

button {
  color: #cabba7;
  background-color: #2f5732;
  padding: 5px 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #0f3712;
}

.title {
  color: #cabba7;
  text-align: center;
  padding: 1vh;
  font-size: 4vh;
  font-weight: bold;
}

.text,
label {
  color: #cabba7;
}

select {
  color: #cabba7;
  background-color: #1f2222;
  font-size: 2.5vh;
}

.occupied:hover {
  background: #ff3a3a;
}

.win {
  background: #0ff30f;
}

.win:hover {
  background: #0ff30f;
}

.playerWin {
  color: green;
}

.computerWin {
  color: red;
}

.draw {
  color: orangered;
}